<section class="article-text">
    <div class="article-text__content">
        <div class="article-text__inner">
            <h2>
                Привет!
            </h2>
            <p>
                Привет, мы — компания «Оливье»! Мы занимаемся всем, что связано с организацией и проведением крупных
                корпоративных и развлекательных мероприятий. Мы знаем, что каждое успешное событие строится на мелочах,
                которые создают неповторимую атмосферу. От общего настроения до малейших деталей — мы чувствуем, что
                важно именно для вас. А ещё у нас есть экстрасенсорные способности угадывать ваши желания. Проверим?
                Ответьте на вопросы ниже. Тест реальный.
            </p>
            <div class="article-text__summary">
                <h3>
                    хотели бы вы?
                </h3>
                <ol>
                    <li>
                        <strong>Отдохнуть</strong> на мероприятии, пока агентство занимается своим делом
                    </li>
                    <li>
                        Создать мероприятие <strong>в пределах бюджета</strong>
                    </li>
                    <li>
                        <strong>Улучшить бизнес-показатели</strong> с помощью ивента
                    </li>
                    <li>
                        Организовать мероприятие, которое пройдет легко и приятно на всех этапах подготовки и
                        взаимодействия с организатором
                    </li>

                </ol>
            </div>
            <p>
                Попали? Тогда вам в Оливье, потому что мы знаем, как делать ивенты для вас! Познакомимся поближе?
            </p>
            <h3>
                Наша философия
            </h3>
            <p>
                Мы стремимся сделать мир вокруг наполненным смыслом. Именно поэтому наша философия — создавать красивые,
                увлекательные и яркие концепции для мероприятий. Мы любим качественную работу с подключением
                воображения, главный критерий оценки которой — довольные клиенты. <a href="#">Отзывы</a> говорят о нас
                лучше, чем
                безликие цифры
            </p>
            <p>
                Мы знаем, что каждая задача и каждый клиент уникальны, поэтому никаких шаблонов— внимание и искреннее
                желание найти подход к аудитории — это наш подход к разработке концепции. Ведь только так можно решить
                задачи мероприятия.
            </p>
            <p>
                Ценим взаимопонимание. Мы знакомимся с вами и с увлеченностью решаем ваши задачи.
            </p>

            <div class="article__ellipsis-block">
                <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
                    vector-effect="non-scaling-stroke">
                    <circle r="45" cx="50" cy="50" fill="none" stroke="#C77DF6" stroke-width="3"
                        vector-effect="non-scaling-stroke" />
                </svg>
                Мы гибкие, думаем нестандартно и&nbsp;готовы на&nbsp;эксперименты!
            </div>

            <h3>
                Наш продукт
            </h3>
            <p>
                Мы разрабатываем форматы и концепции для ваших мероприятий, а потом — четко и скрупулезно реализовываем
                идеи. Мы создали собственную технологию, которая позволяет оставаться гибкими и при этом сделать процесс
                подготовки проекта максимально удобным для всех.
            </p>
            <p>
                В нашем опыте — мероприятия любого масштаба и по бюджету, и по количеству участников. Чаще всего к нам
                обращаются с задачами по организации корпоративных событий для сотрудников, бизнес-мероприятий для
                клиентов и партнеров, презентаций, форумов и конференций, а также выездных и выставочных проектов.
            </p>
            <h4>
                Хотите участвовать минимально?
            </h4>
            <p>
                Вам достаточно обозначить конечную точку — каким вы видите результат мероприятия, а мы выстроим путь к
                ней.
            </p>
            <h4>
                Хотите участвовать максимально?
            </h4>
            <p>
                Если у вас свой креатив или идеи, наша команда готова подхватить их, развить и бережно реализовать.
            </p>
            <h3>
                Наши принципы
            </h3>
            <img src="/images/about-icons/1.svg" alt="" class="article-text__icon">
            <h4>
                Понимание аудитории
            </h4>
            <p>
                Внимание и искреннее желание найти подход к целевой аудитории — основа нашего подхода.
            </p>
            <p>
                Мы предлагаем решения на основе именно ваших задач, поэтому до начала проекта проводим качественное и
                глубокое исследование. Это дает возможность находить верные инсайты и потребности аудитории для будущего
                креатива.
            </p>
            <img src="/images/about-icons/2.svg" alt="" class="article-text__icon">
            <h4>
                Пошаговая организация
            </h4>
            <p>
                Внимание и искреннее желание найти подход к целевой аудитории — основа нашего подхода.
            </p>
            <p>
                Мы предлагаем решения на основе именно ваших задач, поэтому до начала проекта проводим качественное и
                глубокое исследование. Это дает возможность находить верные инсайты и потребности аудитории для будущего
                креатива.
            </p>
            <img src="/images/about-icons/3.svg" alt="" class="article-text__icon">
            <h4>
                Гибкость
            </h4>
            <p>
                Мы стремимся к максимально возможному выполнению пожеланий клиента. Даже если это сложно, мы приложим
                все усилия, чтобы выполнить вашу задачу, чтобы вам не пришлось искать компромиссы и решать проблемы. Мы
                готовы к постоплате или работе 50/50.
            </p>
            <img src="/images/about-icons/4.svg" alt="" class="article-text__icon">
            <h4>
                Чёткий контракт
            </h4>
            <p>
                Лихие 90-е давно прошли. Сейчас нас «крышует» надежное юридическое поле. Все условия и критерии качества
                работы мы прописываем в договоре, а перед этим 25 раз проговариваем детали и пересобираем сметы столько,
                сколько нужно.
            </p>
            <div class="article-text__heart">
                <img src="/images/about-heart.svg" alt="" class="article-text__heart-image">
                <div class="article-text__heart-text">
                    наши Ценности: честность, открытость и&nbsp;ответственность
                </div>
            </div>
            <h3>
                География проектов
            </h3>
            <p>
                Офис компании находится в Москве, работаем по всей России и за рубежом. За 20 лет мы проводили
                мероприятия в Санкт-Петербурге, Нижнем Новгороде, Екатеринбурге, Новосибирске, Уфе, Казани,
                Железногорске, Иркутске, Хабаровске, Красноярске, Краснодаре, Соколе, Онеге, а также за рубежом —
                Турции, Египте, Черногории, Болгарии, Нидерландах.
            </p>
            <blockquote class="article-text__blockquote">
                <div class="article-text__blockquote-text">
                    Я занимаюсь ивентами уже 19-й год. Организация мероприятий это деятельность, которая требует
                    спортивной выносливости, огромного кругозора, креативности, колоссальной концентрации, космической
                    гибкости. Почему я продолжаю делать это столько лет?
                    Для меня мероприятия — это возможность подарить новый опыт и впечатления другим, а от этого я
                    получаю радость и вдохновение. Это возможность наполнить счастьем и любовью мир вокруг! Такую
                    ценность невозможно променять ни на что другое.
                </div>
                <div class="article-text__blockquote-author">
                    <div class="article-text__blockquote-author-image-container">
                        <img src="/images/author.webp" alt="" class="article-text__blockquote-author-image">
                    </div>
                    <div class="article-text__blockquote-author-content">
                        <div class="article-text__blockquote-author-name">
                            Катерина Кабанова
                        </div>
                        <div class="article-text__blockquote-author-role">
                            Основательница и генеральный директор “Оливье”
                        </div>
                    </div>
                </div>
            </blockquote>
        </div>
    </div>
</section>