<section class="tender tender--about">
    <div class="tender__content">
        <h2 class="tender__heading">
            Если вам близки наша философия и подход — будем рады познакомиться
        </h2>
        <div class="tender__text">
            Просто напишите нам на почту, если хотите организовать событие вместе с нами или заполните краткий бриф.
        </div>
        <div class="tender__btns">
            <a href="mailto:hello@olivie.ru" class="tender__blue-btn">
                Hello@olivie.ru
            </a>
            <a href="#" class="tender__outline-btn">
                заполнить бриф
            </a>
        </div>
    </div>
</section>