<section class="cases">
    <div class="cases__content">
        <h2 class="cases__heading">
            Кейсы
        </h2>
        <ul class="portfolio-results__list">
            <li class="portfolio-results__list-item portfolio-results__list-item--wide">
                <a href="#" class="portfolio-card portfolio-card--large">
                    <div class="portfolio-card__image-wrapper">
                        <img src="/images/portfolio-results/3.webp" alt="" class="portfolio-card__image">
                    </div>
                    <div class="portfolio-card__info">
                        <div class="portfolio-card__category">
                            Корпоративное событие
                        </div>
                        <div class="portfolio-card__tags">
                            <div class="portfolio-card__tag">
                                Яровит Холл
                            </div>
                            <div class="portfolio-card__tag">
                                300 человек
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-card__text-content">
                        <h3 class="portfolio-card__title">
                            Дельта. Пейджер. Новый год
                        </h3>
                        <div class="portfolio-card__desc">
                            Корпоративное мероприятие для сотрудников. Вечеринка в стилистике 90-х
                        </div>
                    </div>
                </a>
            </li>
            <li class="portfolio-results__list-item">
                <a href="#" class="portfolio-card">
                    <div class="portfolio-card__image-wrapper">
                        <img src="/images/portfolio-results/6.webp" alt="" class="portfolio-card__image">
                    </div>
                    <div class="portfolio-card__info">
                        <div class="portfolio-card__category">
                            Юбилей компании
                        </div>
                        <div class="portfolio-card__tags">
                            <div class="portfolio-card__tag">
                                Парк-отель «Волынское
                            </div>
                            <div class="portfolio-card__tag">
                                400 человек
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-card__text-content">
                        <h3 class="portfolio-card__title">
                            33 Ярких года
                        </h3>
                        <div class="portfolio-card__desc">
                            Юбилейное день рождение группы компаний «Остек», организованное с размахом и шармом
                        </div>
                    </div>
                </a>
            </li>
            <li class="portfolio-results__list-item">
                <a href="#" class="portfolio-card">
                    <div class="portfolio-card__image-wrapper">
                        <img src="/images/portfolio-results/7.webp" alt="" class="portfolio-card__image">
                    </div>
                    <div class="portfolio-card__info">
                        <div class="portfolio-card__category">
                            Юбилей компании
                        </div>
                        <div class="portfolio-card__tags">
                            <div class="portfolio-card__tag">
                                Парк-отель «Волынское
                            </div>
                            <div class="portfolio-card__tag">
                                400 человек
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-card__text-content">
                        <h3 class="portfolio-card__title">
                            Ваша формула успеха
                        </h3>
                        <div class="portfolio-card__desc">
                            Юбилейное день рождение группы компаний «Остек», организованное с размахом и шармом
                        </div>
                    </div>
                </a>
            </li>
        </ul>
        <a href="#" class="portfolio-results__show-more">
            показать еще
        </a>
    </div>
</section>