<section class="clients">
    <div class="clients__content">
        <h2 class="clients__heading">
            Наши клиенты
        </h2>
        <div class="clients__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="clients__slider-card">
                            <img src="/images/clients/1.webp" alt="" class="clients__slider-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="clients__slider-card">
                            <img src="/images/clients/2.webp" alt="" class="clients__slider-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="clients__slider-card">
                            <img src="/images/clients/3.webp" alt="" class="clients__slider-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="clients__slider-card">
                            <img src="/images/clients/4.webp" alt="" class="clients__slider-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="clients__slider-card">
                            <img src="/images/clients/5.webp" alt="" class="clients__slider-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="clients__slider-card">
                            <img src="/images/clients/5.webp" alt="" class="clients__slider-card-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>