<div class="cookies">
    <div class="cookies__inner">
        <button class="cookies__close">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#cookies-close"></use>
            </svg>
        </button>
        <h3 class="cookies__heading">
            Мы используем cookie
        </h3>
        <div class="cookies__text">
            Мы используем cookie на сайте. Это помогает нам делать сайт лучше. Если вы не согласны, запретить сохранение
            файлов cookie можно в настройках браузера.
        </div>
        <div class="cookies__btns">
            <a href="#" class="cookies__outline-btn">
                Подробнее
            </a>
            <button class="cookies__filled-btn">
                Хорошо
            </button>
        </div>
    </div>
</div>