<section class="event-intro">
    <div class="event-intro__content">
        <div class="event-intro__row">


            <div class="event-intro__text-content">
                <div class="event-intro__breadcrumbs">
                    <a href="#" class="event-intro__breadcrumbs-link">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#back"></use>
                        </svg>
                        Что мы делаем
                    </a>
                </div>
                <h1 class="event-intro__heading">
                    Организация бизнес – мероприятий
                </h1>
            </div>
            <div class="event-intro__image-wrapper">
                <img src="/images/event-intro/1/green.svg" alt="" class="event-intro__shape">
                <img src="/images/event-intro/1/photo.webp" alt="" class="event-intro__image">
                <img src="/images/event-intro/1/pink.svg" alt="" class="event-intro__shape">
            </div>
        </div>
    </div>
</section>