<section class="faq">
    <div class="faq__content">
        <h2 class="faq__heading">
            Остались вопросы?
        </h2>
        <ul class="faq__list">
            <li class="faq__list-item">
                <div class="faq__accordion">
                    <div class="faq__accordion-left-col">
                        <h3 class="faq__accordion-title">
                            Как вы работаете и что нужно от нас?
                        </h3>
                        <div class="faq__accordion-dropdown">
                            <div class="faq__accordion-dropdown-inner">
                                <div class="faq__accordion-dropdown-content">
                                    Мы начинаем работу с предварительной встречи и четкого технического задания.
                                    Высылаем коммерческое предложение, утверждаем смету, подписываем договор. Далее наш
                                    менеджер координирует работу по проекту. Вам остается: утвердить дизайн, сценарий и
                                    документацию. На мероприятии вы отдыхаете.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="faq__accordion-icon">

                    </div>
                </div>
            </li>
            <li class="faq__list-item">
                <div class="faq__accordion">
                    <div class="faq__accordion-left-col">
                        <h3 class="faq__accordion-title">
                            Сколько стоит мероприятие?
                        </h3>
                        <div class="faq__accordion-dropdown">
                            <div class="faq__accordion-dropdown-inner">
                                <div class="faq__accordion-dropdown-content">
                                    Мы начинаем работу с предварительной встречи и четкого технического задания.
                                    Высылаем коммерческое предложение, утверждаем смету, подписываем договор. Далее наш
                                    менеджер координирует работу по проекту. Вам остается: утвердить дизайн, сценарий и
                                    документацию. На мероприятии вы отдыхаете.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="faq__accordion-icon">

                    </div>
                </div>
            </li>
            <li class="faq__list-item">
                <div class="faq__accordion">
                    <div class="faq__accordion-left-col">
                        <h3 class="faq__accordion-title">
                            Как быстро вы готовите коммерческое предложение?
                        </h3>
                        <div class="faq__accordion-dropdown">
                            <div class="faq__accordion-dropdown-inner">
                                <div class="faq__accordion-dropdown-content">
                                    Мы начинаем работу с предварительной встречи и четкого технического задания.
                                    Высылаем коммерческое предложение, утверждаем смету, подписываем договор. Далее наш
                                    менеджер координирует работу по проекту. Вам остается: утвердить дизайн, сценарий и
                                    документацию. На мероприятии вы отдыхаете.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="faq__accordion-icon">

                    </div>
                </div>
            </li>
            <li class="faq__list-item">
                <div class="faq__accordion">
                    <div class="faq__accordion-left-col">
                        <h3 class="faq__accordion-title">
                            Сколько времени нужно на подготовку проекта?
                        </h3>
                        <div class="faq__accordion-dropdown">
                            <div class="faq__accordion-dropdown-inner">
                                <div class="faq__accordion-dropdown-content">
                                    Мы начинаем работу с предварительной встречи и четкого технического задания.
                                    Высылаем коммерческое предложение, утверждаем смету, подписываем договор. Далее наш
                                    менеджер координирует работу по проекту. Вам остается: утвердить дизайн, сценарий и
                                    документацию. На мероприятии вы отдыхаете.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="faq__accordion-icon">

                    </div>
                </div>
            </li>
            <li class="faq__list-item">
                <div class="faq__accordion">
                    <div class="faq__accordion-left-col">
                        <h3 class="faq__accordion-title">
                            Кто будет со мной общаться во время подготовки мероприятия?
                        </h3>
                        <div class="faq__accordion-dropdown">
                            <div class="faq__accordion-dropdown-inner">
                                <div class="faq__accordion-dropdown-content">
                                    Мы начинаем работу с предварительной встречи и четкого технического задания.
                                    Высылаем коммерческое предложение, утверждаем смету, подписываем договор. Далее наш
                                    менеджер координирует работу по проекту. Вам остается: утвердить дизайн, сценарий и
                                    документацию. На мероприятии вы отдыхаете.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="faq__accordion-icon">

                    </div>
                </div>
            </li>
            <li class="faq__list-item">
                <div class="faq__accordion">
                    <div class="faq__accordion-left-col">
                        <h3 class="faq__accordion-title">
                            Какие гарантии?
                        </h3>
                        <div class="faq__accordion-dropdown">
                            <div class="faq__accordion-dropdown-inner">
                                <div class="faq__accordion-dropdown-content">
                                    Мы начинаем работу с предварительной встречи и четкого технического задания.
                                    Высылаем коммерческое предложение, утверждаем смету, подписываем договор. Далее наш
                                    менеджер координирует работу по проекту. Вам остается: утвердить дизайн, сценарий и
                                    документацию. На мероприятии вы отдыхаете.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="faq__accordion-icon">

                    </div>
                </div>
            </li>
            <li class="faq__list-item">
                <div class="faq__accordion">
                    <div class="faq__accordion-left-col">
                        <h3 class="faq__accordion-title">
                            Косяки бывают?
                        </h3>
                        <div class="faq__accordion-dropdown">
                            <div class="faq__accordion-dropdown-inner">
                                <div class="faq__accordion-dropdown-content">
                                    Мы начинаем работу с предварительной встречи и четкого технического задания.
                                    Высылаем коммерческое предложение, утверждаем смету, подписываем договор. Далее наш
                                    менеджер координирует работу по проекту. Вам остается: утвердить дизайн, сценарий и
                                    документацию. На мероприятии вы отдыхаете.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="faq__accordion-icon">

                    </div>
                </div>
            </li>
            <li class="faq__list-item">
                <div class="faq__accordion">
                    <div class="faq__accordion-left-col">
                        <h3 class="faq__accordion-title">
                            Вы принимаете участие в тендерах?
                        </h3>
                        <div class="faq__accordion-dropdown">
                            <div class="faq__accordion-dropdown-inner">
                                <div class="faq__accordion-dropdown-content">
                                    Мы начинаем работу с предварительной встречи и четкого технического задания.
                                    Высылаем коммерческое предложение, утверждаем смету, подписываем договор. Далее наш
                                    менеджер координирует работу по проекту. Вам остается: утвердить дизайн, сценарий и
                                    документацию. На мероприятии вы отдыхаете.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="faq__accordion-icon">

                    </div>
                </div>
            </li>
        </ul>
        <div class="faq__bottom">
            <div class="faq__text">
                Не нашли ответ на свой вопрос? Напишите нам в Telegram. Наша команда ответит вам с 10:00 до 19:00.
            </div>
            <div class="faq__btns">
                <a href="mailto:hello@olivie.ru" class="faq__blue-btn">
                    Hello@olivie.ru
                </a>
                <a href="#" class="faq__outline-btn">
                    заполнить бриф
                </a>
            </div>
        </div>
    </div>
</section>