<footer class="page-footer">
    <div class="page-footer__content">
        <div class="page-footer__top">


            <nav class="page-footer__nav">
                <ul class="page-footer__nav-list">
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Портфолио
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            О нас
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Что мы делаем
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Отзывы
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Процесс
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="page-footer__slogan">
                Увидите, вам понравится!
            </div>
        </div>
        <div class="page-footer__middle-row">
            <div class="page-footer__social">
                <h3 class="page-footer__social-title">
                    социальные сети
                </h3>
                <ul class="page-footer__social-list">
                    <li class="page-footer__social-list-item">
                        <a href="#" class="page-footer__social-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="page-footer__social-list-item">
                        <a href="#" class="page-footer__social-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#telegram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="page-footer__social-list-item">
                        <a href="#" class="page-footer__social-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#youtube"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="page-footer__contacts">
                <h3 class="page-footer__contacts-title">
                    контакты
                </h3>
                <a href="tel:+74994566567" class="page-footer__contacts-link">+7 499 456-65-67</a>
                <a href="mailto:info@olivie.ru" class="page-footer__contacts-link">info@olivie.ru</a>
            </div>
        </div>
        <div class="page-footer__bottom">


            <div class="page-footer__copyright">
                © 2004 — 2024, «Оливье»
            </div>
            <div class="page-footer__links">
                <a href="#" class="page-footer__link">
                    Скачать презентацию
                </a>
                <a href="#" class="page-footer__link">
                    Заполнить бриф
                </a>
            </div>
        </div>
    </div>
</footer>