<header class="page-header">
    <div class="page-header__top">
        <div class="page-header__top-inner">


            <div class="page-header__left">
                <ul class="page-header__list">
                    <li class="page-header__list-item">
                        <a href="#" class="page-header__link">
                            Заполнить бриф
                        </a>
                    </li>
                    <li class="page-header__list-item">
                        <a href="#" class="page-header__link">
                            Скачать презентацию
                        </a>
                    </li>
                </ul>
            </div>
            <div class="page-header__right">
                <div class="page-header__title">
                    Для тендеров и запросов пишите:
                </div>
                <ul class="page-header__list">
                    <li class="page-header__list-item">
                        <a href="#" class="page-header__link">
                            Hello@olivie.ru
                        </a>
                    </li>
                    <li class="page-header__list-item">
                        <a href="#" class="page-header__link">
                            Telegram
                        </a>
                    </li>
                    <li class="page-header__list-item">
                        <a href="#" class="page-header__link">
                            Whatsapp
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="page-header__bottom">
        <div class="page-header__bottom-inner">
            <a href="/" class="page-header__logo">
                <img src="/images/logo.svg" alt="Лого" class="page-header__logo-image">
            </a>
            <nav class="page-header__nav">
                <ul class="page-header__nav-list">
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Портфолио
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            О нас
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Что мы делаем
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Отзывы
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Процесс
                        </a>
                    </li>
                </ul>
            </nav>
            <button class="page-header__burger">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
</header>