<section class="ideas">
    <div class="ideas__content">
        <div class="ideas__top-row">
            <h2 class="ideas__heading">
                идеи
            </h2>
            <div class="ideas__arrows">
                <button class="ideas__arrow ideas__arrow--prev">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-arrow-left"></use>
                    </svg>
                </button>
                <button class="ideas__arrow ideas__arrow--next">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="ideas__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="ideas__slider-card">
                            <div class="ideas__slider-card-image-container">
                                <img src="/images/ideas/1.webp" alt="" class="ideas__slider-card-image">
                            </div>
                            <h3 class="ideas__slider-card-title">
                                Планета-2030
                            </h3>
                            <div class="ideas__slider-card-text">
                                Бигдата. Форсайт. Искусственный интеллект. Увидеть будущее и… вдохновиться!
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="ideas__slider-card">
                            <div class="ideas__slider-card-image-container">
                                <img src="/images/ideas/2.webp" alt="" class="ideas__slider-card-image">
                            </div>
                            <h3 class="ideas__slider-card-title">
                                LOVE IS
                            </h3>
                            <div class="ideas__slider-card-text">
                                Ваши отношения с клиентами это яркие, и взрывные истории, то конференция-свидания "LOVE
                                IS: Партнерство в сердце бизнеса" для вас
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="ideas__slider-card">
                            <div class="ideas__slider-card-image-container">
                                <img src="/images/ideas/3.webp" alt="" class="ideas__slider-card-image">
                            </div>
                            <h3 class="ideas__slider-card-title">
                                Покоряя вершины
                            </h3>
                            <div class="ideas__slider-card-text">
                                Для компаний, покоряющих бизнес-вершины и устремлённых к новым высотам
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="ideas__slider-card">
                            <div class="ideas__slider-card-image-container">
                                <img src="/images/ideas/3.webp" alt="" class="ideas__slider-card-image">
                            </div>
                            <h3 class="ideas__slider-card-title">
                                Покоряя вершины
                            </h3>
                            <div class="ideas__slider-card-text">
                                Для компаний, покоряющих бизнес-вершины и устремлённых к новым высотам
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>