<section class="article-text">
    <div class="article-text__content">
        <div class="article-text__inner">
            <h2>
                Любовь — это… не то, что обычно выносится в заглавие бизнес-конференций. Но не в этот раз!
            </h2>
            <p>
                Мероприятие в стиле LOVE IS — это не просто встреча, это свидание, посвящённый тому, что делает наши
                отношения с клиентами крепче, а бизнес — успешнее.
            </p>
            <p>
                Представим ваши взаимоотношения с клиентами как бурные, взрывные и очень увлекательные истории — как те,
                которые разворачивались в прямом смысле этого слова на вкладышах знаменитой жвачки.
            </p>
            <div class="article-text__gallery">
                <div class="article-text__gallery-wrapper">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="article-text__gallery-card">
                                    <img src="/images/gallery.webp" alt="" class="article-text__gallery-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="article-text__gallery-card">
                                    <img src="/images/gallery.webp" alt="" class="article-text__gallery-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="article-text__gallery-card">
                                    <img src="/images/gallery.webp" alt="" class="article-text__gallery-card-image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="article-text__gallery-controls">
                    <button class="article-text__gallery-arrow article-text__gallery-arrow--prev">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#slider-arrow-left"></use>
                        </svg>
                    </button>
                    <div class="article-text__gallery-pagination">

                    </div>
                    <button class="article-text__gallery-arrow article-text__gallery-arrow--next">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#slider-arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <p>
                Для экономии бюджета мы решили продумать такую конструкцию стенда, чтобы его легко было разобрать после
                демонстрации в Москве и перевезти в Санкт-Петербург. По остальным городам решили не возить, иначе это
                стоило бы космических денег.
            </p>
        </div>
    </div>
</section>