<section class="intro">
    <div class="intro__content">
        <div class="intro__left-col">
            <div class="intro__text-slider">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="intro__text-slider-card">
                                <h2 class="intro__text-slider-card-title">
                                    Организуем мероприятия
                                    для корпоративных клиентов
                                </h2>
                                <div class="intro__text-slider-card-label">
                                    с 2005 года
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="intro__text-slider-card">
                                <h2 class="intro__text-slider-card-title">
                                    В день мероприятия вы будете пить шампанское
                                </h2>
                                <div class="intro__text-slider-card-label" style="background-color: #004D43;">
                                    Все идет по плану
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="intro__text-slider-card">
                                <h2 class="intro__text-slider-card-title">
                                    Разрабатываем идеи для задач вашего бизнеса
                                </h2>
                                <div class="intro__text-slider-card-label" style="background-color: #3543C2;">
                                    Креатив — наше все
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="intro__text-slider-card">
                                <h2 class="intro__text-slider-card-title">
                                    Знаем рецепт вашего идеального мероприятия
                                </h2>
                                <div class="intro__text-slider-card-label" style="background-color: #FE9A66;">
                                    Любим свое дело
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="intro__btns">
                <a href="#brief-modal" class="intro__filled-btn">
                    заполнить бриф
                </a>
                <a href="#" class="intro__outline-btn">
                    презентация
                </a>
            </div>
        </div>
        <div class="intro__right-col">
            <div class="intro__controls">
                <button class="intro__arrow intro__arrow--prev">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-arrow-left"></use>
                    </svg>
                </button>
                <div class="intro__pagination">

                </div>
                <button class="intro__arrow intro__arrow--next">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-arrow-right"></use>
                    </svg>
                </button>
            </div>
            <div class="intro__images-slider">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="intro__images-slider-card">
                                <img src="/images/intro/1/pink.svg" alt="" class="intro__images-slider-card-shape">
                                <img src="/images/intro/1/green.svg" alt="" class="intro__images-slider-card-shape">
                                <img src="/images/intro/1/orange.svg" alt="" class="intro__images-slider-card-shape">
                                <img src="/images/intro/1/photo.webp" alt="" class="intro__images-slider-card-photo">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="intro__images-slider-card">
                                <img src="/images/intro/2/pink.svg" alt="" class="intro__images-slider-card-shape">
                                <img src="/images/intro/2/dark-green.svg" alt=""
                                    class="intro__images-slider-card-shape">
                                <img src="/images/intro/2/photo.webp" alt="" class="intro__images-slider-card-photo">
                                <img src="/images/intro/2/green.svg" alt="" class="intro__images-slider-card-shape">
                                <img src="/images/intro/2/grey.svg" alt="" class="intro__images-slider-card-shape">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="intro__images-slider-card">

                                <img src="/images/intro/3/orange.svg" alt="" class="intro__images-slider-card-shape">
                                <img src="/images/intro/3/green.svg" alt="" class="intro__images-slider-card-shape">
                                <img src="/images/intro/3/photo.webp" alt="" class="intro__images-slider-card-photo">
                                <img src="/images/intro/3/dark-green.svg" alt=""
                                    class="intro__images-slider-card-shape">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="intro__images-slider-card">
                                <img src="/images/intro/4/blue.svg" alt="" class="intro__images-slider-card-shape">
                                <img src="/images/intro/4/green.svg" alt="" class="intro__images-slider-card-shape">
                                <img src="/images/intro/4/photo.webp" alt="" class="intro__images-slider-card-photo">
                                <img src="/images/intro/4/orange.svg" alt="" class="intro__images-slider-card-shape">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>