<section class="marquee">
    <div class="marquee__content">
        <div class="marquee__row">
            <div class="marquee__row-track">
                <div class="marquee__row-set">
                    <span>
                        open air
                    </span>
                    <img src="/images/marquee/orange-home.svg" alt="">
                    <span>
                        тимбилдинг
                    </span>
                    <img src="/images/marquee/orange-puzzle.svg" alt="">
                    <span>
                        family day
                    </span>
                    <img src="/images/marquee/orange-puzzle.svg" alt="">
                </div>
                <div class="marquee__row-set">
                    <span>
                        open air
                    </span>
                    <img src="/images/marquee/orange-home.svg" alt="">
                    <span>
                        тимбилдинг
                    </span>
                    <img src="/images/marquee/orange-puzzle.svg" alt="">
                    <span>
                        family day
                    </span>
                    <img src="/images/marquee/orange-puzzle.svg" alt="">
                </div>
                <div class="marquee__row-set">
                    <span>
                        open air
                    </span>
                    <img src="/images/marquee/orange-home.svg" alt="">
                    <span>
                        тимбилдинг
                    </span>
                    <img src="/images/marquee/orange-puzzle.svg" alt="">
                    <span>
                        family day
                    </span>
                    <img src="/images/marquee/orange-puzzle.svg" alt="">
                </div>
                <div class="marquee__row-set">
                    <span>
                        open air
                    </span>
                    <img src="/images/marquee/orange-home.svg" alt="">
                    <span>
                        тимбилдинг
                    </span>
                    <img src="/images/marquee/orange-puzzle.svg" alt="">
                    <span>
                        family day
                    </span>
                    <img src="/images/marquee/orange-puzzle.svg" alt="">
                </div>
            </div>
        </div>
        <div class="marquee__row">
            <div class="marquee__row-track" style="color: #3543C2;">
                <div class="marquee__row-set">
                    <span>
                        форум
                    </span>
                    <img src="/images/marquee/blue-message.svg" alt="">
                    <span>
                        презентация
                    </span>
                    <img src="/images/marquee/blue-star.svg" alt="">
                    <span>
                        открытие
                    </span>
                    <img src="/images/marquee/blue-balloon.svg" alt="">
                </div>
                <div class="marquee__row-set">
                    <span>
                        форум
                    </span>
                    <img src="/images/marquee/blue-message.svg" alt="">
                    <span>
                        презентация
                    </span>
                    <img src="/images/marquee/blue-star.svg" alt="">
                    <span>
                        открытие
                    </span>
                    <img src="/images/marquee/blue-balloon.svg" alt="">
                </div>
                <div class="marquee__row-set">
                    <span>
                        форум
                    </span>
                    <img src="/images/marquee/blue-message.svg" alt="">
                    <span>
                        презентация
                    </span>
                    <img src="/images/marquee/blue-star.svg" alt="">
                    <span>
                        открытие
                    </span>
                    <img src="/images/marquee/blue-balloon.svg" alt="">
                </div>
                <div class="marquee__row-set">
                    <span>
                        форум
                    </span>
                    <img src="/images/marquee/blue-message.svg" alt="">
                    <span>
                        презентация
                    </span>
                    <img src="/images/marquee/blue-star.svg" alt="">
                    <span>
                        открытие
                    </span>
                    <img src="/images/marquee/blue-balloon.svg" alt="">
                </div>
            </div>
        </div>
        <div class="marquee__row">
            <div class="marquee__row-track" style="color: #004D43;">
                <div class="marquee__row-set">
                    <span>
                        новый год
                    </span>
                    <img src="/images/marquee/green-tree.svg" alt="">
                    <span>
                        регата
                    </span>
                    <img src="/images/marquee/green-yacht.svg" alt="">
                    <span>
                        конференция
                    </span>
                    <img src="/images/marquee/green-camera.svg" alt="">
                </div>
                <div class="marquee__row-set">
                    <span>
                        новый год
                    </span>
                    <img src="/images/marquee/green-tree.svg" alt="">
                    <span>
                        регата
                    </span>
                    <img src="/images/marquee/green-yacht.svg" alt="">
                    <span>
                        конференция
                    </span>
                    <img src="/images/marquee/green-camera.svg" alt="">
                </div>
                <div class="marquee__row-set">
                    <span>
                        новый год
                    </span>
                    <img src="/images/marquee/green-tree.svg" alt="">
                    <span>
                        регата
                    </span>
                    <img src="/images/marquee/green-yacht.svg" alt="">
                    <span>
                        конференция
                    </span>
                    <img src="/images/marquee/green-camera.svg" alt="">
                </div>
                <div class="marquee__row-set">
                    <span>
                        новый год
                    </span>
                    <img src="/images/marquee/green-tree.svg" alt="">
                    <span>
                        регата
                    </span>
                    <img src="/images/marquee/green-yacht.svg" alt="">
                    <span>
                        конференция
                    </span>
                    <img src="/images/marquee/green-camera.svg" alt="">
                </div>

            </div>
        </div>
        <div class="marquee__row">
            <div class="marquee__row-track" style="color: #C77DF6;">
                <div class="marquee__row-set">
                    <span>
                        веломарафон
                    </span>
                    <img src="/images/marquee/pink-star.svg" alt="">
                    <span>
                        выставка
                    </span>
                    <img src="/images/marquee/pink-square.svg" alt="">
                    <span>
                        вечеринка
                    </span>
                    <img src="/images/marquee/pink-melody.svg" alt="">
                </div>
                <div class="marquee__row-set">
                    <span>
                        веломарафон
                    </span>
                    <img src="/images/marquee/pink-star.svg" alt="">
                    <span>
                        выставка
                    </span>
                    <img src="/images/marquee/pink-square.svg" alt="">
                    <span>
                        вечеринка
                    </span>
                    <img src="/images/marquee/pink-melody.svg" alt="">
                </div>
                <div class="marquee__row-set">
                    <span>
                        веломарафон
                    </span>
                    <img src="/images/marquee/pink-star.svg" alt="">
                    <span>
                        выставка
                    </span>
                    <img src="/images/marquee/pink-square.svg" alt="">
                    <span>
                        вечеринка
                    </span>
                    <img src="/images/marquee/pink-melody.svg" alt="">
                </div>
                <div class="marquee__row-set">
                    <span>
                        веломарафон
                    </span>
                    <img src="/images/marquee/pink-star.svg" alt="">
                    <span>
                        выставка
                    </span>
                    <img src="/images/marquee/pink-square.svg" alt="">
                    <span>
                        вечеринка
                    </span>
                    <img src="/images/marquee/pink-melody.svg" alt="">
                </div>
            </div>
        </div>

    </div>
</section>