<div class="other-formats">
    <h2 class="other-formats__heading">
        Посмотрите другие форматы для корпоративного праздника:
    </h2>
    <ul class="other-formats__list">
        <li class="other-formats__list-item">
            <a href="#" class="other-formats__link">
                Презентации
            </a>
        </li>
        <li class="other-formats__list-item">
            <a href="#" class="other-formats__link">
                Выставки
            </a>
        </li>
        <li class="other-formats__list-item">
            <a href="#" class="other-formats__link">
                Корпоративные конференции и форумы
            </a>
        </li>
        <li class="other-formats__list-item">
            <a href="#" class="other-formats__link">
                Выездные мероприятия
            </a>
        </li>
        <li class="other-formats__list-item">
            <a href="#" class="other-formats__link">
                Открытия и запуски
            </a>
        </li>
    </ul>
</div>