<section class="philosophy">
    <div class="philosophy__content">
        <h2 class="philosophy__heading">
            Если вам близки наша <b>философия</b> и&nbsp;<em>подход</em> — будем рады познакомиться
        </h2>
        <div class="philosophy__text">
            Просто напишите нам на почту, если хотите организовать событие вместе с нами или заполните краткий бриф.
        </div>
        <div class="philosophy__btns">
            <a href="#" class="philosophy__filled-btn">
                написать письмо
            </a>
            <a href="#" class="philosophy__outline-btn">
                заполнить бриф
            </a>
        </div>
    </div>
</section>