<section class="portfolio">
    <div class="portfolio__content">
        <div class="portfolio__top-row">
            <h2 class="portfolio__heading">
                Портфолио
            </h2>
            <div class="portfolio__arrows">
                <button class="portfolio__arrow portfolio__arrow--prev">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-arrow-left"></use>
                    </svg>
                </button>
                <button class="portfolio__arrow portfolio__arrow--next">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="portfolio__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="portfolio__slider-card portfolio__slider-card--orange">
                            <div class="portfolio__slider-card-top">
                                <div class="portfolio__slider-card-category">
                                    Юбилей компании
                                </div>
                                <div class="portfolio__slider-card-tags">
                                    <div class="portfolio__slider-card-tag">
                                        Парк-отель «Волынское
                                    </div>
                                    <div class="portfolio__slider-card-tag">
                                        400 человек
                                    </div>
                                </div>
                            </div>
                            <div class="portfolio__slider-card-image-container">

                                <img src="/images/portfolio/1.webp" alt="" class="portfolio__slider-card-image">

                            </div>
                            <h3 class="portfolio__slider-card-title">
                                33 Ярких года
                            </h3>
                            <div class="portfolio__slider-card-text">
                                Юбилейное день рождение группы компаний Остек. Летний фестиваль и строительство
                                арт-объектов
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="portfolio__slider-card portfolio__slider-card--blue">
                            <div class="portfolio__slider-card-top">
                                <div class="portfolio__slider-card-category">
                                    Корпоративное событие
                                </div>
                                <div class="portfolio__slider-card-tags">
                                    <div class="portfolio__slider-card-tag">
                                        Яровит Холл
                                    </div>
                                    <div class="portfolio__slider-card-tag">
                                        300 человек
                                    </div>
                                </div>
                            </div>
                            <div class="portfolio__slider-card-image-container">
                                <img src="/images/portfolio/2.webp" alt="" class="portfolio__slider-card-image">
                            </div>
                            <h3 class="portfolio__slider-card-title">
                                «Время первых»
                            </h3>
                            <div class="portfolio__slider-card-text">
                                Юбилей «ТрансЭнергоПром». Мероприятие для клиентов и партнеров компании
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="portfolio__slider-card portfolio__slider-card--green">
                            <div class="portfolio__slider-card-top">
                                <div class="portfolio__slider-card-category">
                                    Корпоративное событие
                                </div>
                                <div class="portfolio__slider-card-tags">
                                    <div class="portfolio__slider-card-tag">
                                        Яровит Холл
                                    </div>
                                    <div class="portfolio__slider-card-tag">
                                        300 человек
                                    </div>
                                </div>
                            </div>
                            <div class="portfolio__slider-card-image-container">
                                <img src="/images/portfolio/3.webp" alt="" class="portfolio__slider-card-image">
                            </div>
                            <h3 class="portfolio__slider-card-title">
                                Дельта. Пейджер. Новый год
                            </h3>
                            <div class="portfolio__slider-card-text">
                                Корпоративное мероприятие для сотрудников. Вечеринка в стилистике 90-х.
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="portfolio__slider-card portfolio__slider-card--cyan">
                            <div class="portfolio__slider-card-top">
                                <div class="portfolio__slider-card-category">
                                    Конференция
                                </div>
                                <div class="portfolio__slider-card-tags">
                                    <div class="portfolio__slider-card-tag">
                                        Семь городов
                                    </div>
                                    <div class="portfolio__slider-card-tag">
                                        50—150 человек
                                    </div>
                                </div>
                            </div>
                            <div class="portfolio__slider-card-image-container">
                                <img src="/images/portfolio/4.webp" alt="" class="portfolio__slider-card-image">
                            </div>
                            <h3 class="portfolio__slider-card-title">
                                Ваша формула успеха
                            </h3>
                            <div class="portfolio__slider-card-text">
                                Большая конференция для клиентов компании «Luis+»
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="portfolio__slider-card portfolio__slider-card--violet">
                            <div class="portfolio__slider-card-top">
                                <div class="portfolio__slider-card-category">
                                    Корпоративное событие
                                </div>
                                <div class="portfolio__slider-card-tags">
                                    <div class="portfolio__slider-card-tag">
                                        Яровит Холл
                                    </div>
                                    <div class="portfolio__slider-card-tag">
                                        300 человек
                                    </div>
                                </div>
                            </div>
                            <div class="portfolio__slider-card-image-container">
                                <img src="/images/portfolio/5.webp" alt="" class="portfolio__slider-card-image">
                            </div>
                            <h3 class="portfolio__slider-card-title">
                                AirBus НА RUBAE 2021
                            </h3>
                            <div class="portfolio__slider-card-text">
                                Организация стенда на международная выставке деловой авиации
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="portfolio__slider-card portfolio__slider-card--blue">
                            <div class="portfolio__slider-card-top">
                                <div class="portfolio__slider-card-category">
                                    Корпоративное событие
                                </div>
                                <div class="portfolio__slider-card-tags">
                                    <div class="portfolio__slider-card-tag">
                                        Подмосковные вечера
                                    </div>
                                    <div class="portfolio__slider-card-tag">
                                        150 человек
                                    </div>
                                </div>
                            </div>
                            <div class="portfolio__slider-card-image-container">
                                <img src="/images/portfolio/2.webp" alt="" class="portfolio__slider-card-image">
                            </div>
                            <h3 class="portfolio__slider-card-title">
                                «Время первых»
                            </h3>
                            <div class="portfolio__slider-card-text">
                                Юбилей компании «ТрансЭнергоПром», ресторан «Подмосковные вечера»
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="portfolio__slider-show-all">
                            <h3 class="portfolio__slider-show-all-title">
                                смотреть все кейсы
                            </h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="portfolio__show-all">
            смотреть все
        </a>
    </div>
</section>