<section class="article-text">
    <div class="article-text__content">
        <div class="article-text__inner">
            <h2>
                Вступительный абзац текста
            </h2>
            <h3>
                О клиенте
            </h3>
            <p>
                ЛУИС+ — крупнейший в России поставщик, специализирующийся на оборудовании комплексных систем
                безопасности. Компания основана в 1995 году и в настоящее время имеет разветвленную сеть филиалов по
                всей России.
            </p>
            <h3>
                Задача
            </h3>
            <p>
                За 10 дней разработать концепцию, название, дизайн и демонстрационную зону для конференций в 7 городах:
                Москва, Санкт-Петербург, Новосибирск, Казань, Екатеринбург, Уфа, Нижний Новгород.
            </p>
            <h3>
                Цель мероприятий
            </h3>
            <p>
                Продвижения и продажа собственных торговых марок, заключение долгосрочных контрактов. Чтобы ее
                реализовать, нам важно было выполнить 3 глобальные задачи.
            </p>
            <h3>
                Подготовили тендерное предложение за 4 дня
            </h3>
            <p>
                Во вторник мы провели бриф с клиентом в Zoom, а в понедельник уже отправили тендерное предложение:
                подборку площадок для каждого города, варианты концептов, контент и кандидатуры ведущих, сметы.
            </p>
            <h3>
                Создали дизайн для серии конференций
            </h3>
            <p>
                Мы предложили и согласовали фирменные цвета, правила их использования, чтобы оформить дизайн
                мероприятия. А также 5 концепций оформления, чтобы клиент выбрал наиболее подходящий для себя и смог
                использовать эти наработки в дальнейшем.
            </p>
            <img src="/images/project-content/1.webp" alt="">
            <img src="/images/project-content/2.webp" alt="">
            <p>
                Для экономии бюджета мы решили продумать такую конструкцию стенда, чтобы его легко было разобрать после
                демонстрации в Москве и перевезти в Санкт-Петербург. По остальным городам решили не возить, иначе это
                стоило бы космических денег.
            </p>
            <h3>
                Разработали различные варианты стенда и реализовали оптимальный
            </h3>
            <p>
                В процессе тендера мы перебрали различные идеи, начиная от искусственного интеллекта и 3D-видеоэкранов
                до актёрских постановок, чтобы клиент мог выбрать наиболее подходящий вариант. Важно было не только
                проявить креатив и сделать стенд интерактивным, но и уложиться в бюджет.
            </p>
            <p>
                Поэтому остановились на варианте с выставочным стендом для инсталляции оборудования.
            </p>
            <img src="/images/project-content/3.webp" alt="">
            <p>
                В процессе тендера мы перебрали различные идеи, начиная от искусственного интеллекта и 3D-видеоэкранов
                до актёрских постановок, чтобы клиент мог выбрать наиболее подходящий вариант. Важно было не только
                проявить креатив и сделать стенд интерактивным, но и уложиться в бюджет.
            </p>
            <img src="/images/project-content/4.webp" alt="" class="narrow">
            <p>
                Для экономии бюджета мы решили продумать такую конструкцию стенда, чтобы его легко было разобрать после
                демонстрации в Москве и перевезти в Санкт-Петербург. По остальным городам решили не возить, иначе это
                стоило бы космических денег.
            </p>
            <h3>
                Что получилось в результате работы
            </h3>
            <p>
                В процессе тендера мы перебрали различные идеи, начиная от искусственного интеллекта и 3D-видеоэкранов
                до актёрских постановок, чтобы клиент мог выбрать наиболее подходящий вариант. Важно было не только
                проявить креатив и сделать стенд интерактивным, но и уложиться в бюджет.
            </p>
            <p>
                Поэтому остановились на варианте с выставочным стендом для инсталляции оборудования.
            </p>
        </div>
    </div>
</section>