<section class="article-text">
    <div class="article-text__content">
        <div class="article-text__inner">
            <h2>
                Десятилетний юбилей компании, ресторан «Подмосковные вечера», 150 человек
            </h2>
            <h3>
                Задача
            </h3>
            <p>
                Отметить юбилей компании ТрансЭнергоПром вместе с партнерами, подсветив важные события жизни компании за
                10 лет
            </p>
            <div class="video-card">

                <div class="video-card__player">
                    <video playsinline="" controls="" data-poster="/images/preview.webp" class="js-player">
                        <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-720p.mp4"
                            type="video/mp4" />
                    </video>
                </div>
            </div>
            <h3>
                Решение
            </h3>
            <p>
                “Время первых” — концепция о больших достижениях, о полёте и о мечтах, которые становятся реальностью.
                Мероприятие в атмосфере вечеринки в космосе с маршрутом между “звёздами”.
            </p>
            <p>
                10. Обратный отсчет, ключ на старт! Начинаем полет!<br>
                9. Стрельба по конкурентам<br>
                8. Церемония награждения “Звездный путь” с полетом в космос<br>
                7. Метеоритный дождь и ностальгия по родине<br>
                6. Живопись и продажа картины в режиме реального времени<br>
                5. Торт в космосе<br>
                4. Покорение Эльбруса<br>
                3, 2, 1…<br>
            </p>
            <p>
                Старт! Полёт продолжается!
            </p>

        </div>
    </div>
</section>