<section class="project-intro">
    <div class="project-intro__content">
        <div class="project-intro__row">


            <div class="project-intro__text-content">
                <a href="#" class="project-intro__back">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#back"></use>
                    </svg>
                    Что мы делаем
                </a>
                <h1 class="project-intro__heading">
                    Road Show в 7 городах России
                </h1>
            </div>
            <div class="project-intro__image-wrapper">
                <img src="/images/case-intro.webp" alt="" class="project-intro__image">
            </div>
        </div>
    </div>
</section>