<section class="project-gallery">
    <div class="project-gallery__content">
        <h2 class="project-gallery__heading">
            фотогалерея
        </h2>
        <ul class="project-gallery__list">
            <li class="project-gallery__list-item">
                <a href="#media-modal" class="project-gallery__card" data-slide-index="1">

                    <picture>
                        <source srcset="/images/project-gallery/1-mobile.webp" media="(max-width: 767px)" />
                        <img src="/images/project-gallery/1.webp" alt="" class="project-gallery__card-image" />
                    </picture>
                </a>
            </li>
            <li class="project-gallery__list-item">
                <a href="#media-modal" class="project-gallery__card" data-slide-index="0">
                    <img src="/images/project-gallery/2.webp" alt="" class="project-gallery__card-image">
                </a>
            </li>
            <li class="project-gallery__list-item">
                <a href="#media-modal" class="project-gallery__card" data-slide-index="1">
                    <img src="/images/project-gallery/3.webp" alt="" class="project-gallery__card-image">
                </a>
            </li>
            <li class="project-gallery__list-item">
                <a href="#media-modal" class="project-gallery__card" data-slide-index="1">
                    <img src="/images/project-gallery/4.webp" alt="" class="project-gallery__card-image">
                </a>
            </li>
            <li class="project-gallery__list-item">
                <a href="#media-modal" class="project-gallery__card" data-slide-index="0">
                    <img src="/images/project-gallery/5.webp" alt="" class="project-gallery__card-image">
                </a>
            </li>
            <li class="project-gallery__list-item">
                <a href="#media-modal" class="project-gallery__card" data-slide-index="1">
                    <img src="/images/project-gallery/6.webp" alt="" class="project-gallery__card-image">
                </a>
            </li>
            <li class="project-gallery__list-item">
                <a href="#media-modal" class="project-gallery__card" data-slide-index="1">
                    <img src="/images/project-gallery/4.webp" alt="" class="project-gallery__card-image">
                </a>
            </li>
            <li class="project-gallery__list-item">
                <a href="#media-modal" class="project-gallery__card" data-slide-index="1">
                    <img src="/images/project-gallery/7.webp" alt="" class="project-gallery__card-image">
                </a>
            </li>
            <li class="project-gallery__list-item">
                <a href="#media-modal" class="project-gallery__card" data-slide-index="1">
                    <img src="/images/project-gallery/8.webp" alt="" class="project-gallery__card-image">
                </a>
            </li>
            <li class="project-gallery__list-item">
                <a href="#media-modal" class="project-gallery__card" data-slide-index="1">
                    <img src="/images/project-gallery/2.webp" alt="" class="project-gallery__card-image">
                </a>
            </li>
            <li class="project-gallery__list-item">
                <a href="#media-modal" class="project-gallery__card" data-slide-index="1">
                    <img src="/images/project-gallery/3.webp" alt="" class="project-gallery__card-image">
                </a>
            </li>
            <li class="project-gallery__list-item">
                <a href="#media-modal" class="project-gallery__card" data-slide-index="1">
                    <img src="/images/project-gallery/8.webp" alt="" class="project-gallery__card-image">
                </a>
            </li>
            <li class="project-gallery__list-item">
                <a href="#media-modal" class="project-gallery__card" data-slide-index="1">
                    <img src="/images/project-gallery/4.webp" alt="" class="project-gallery__card-image">
                </a>
            </li>
            <li class="project-gallery__list-item">
                <a href="#media-modal" class="project-gallery__card" data-slide-index="1">
                    <img src="/images/project-gallery/5.webp" alt="" class="project-gallery__card-image">
                </a>
            </li>
            <li class="project-gallery__list-item">
                <a href="#media-modal" class="project-gallery__card" data-slide-index="1">
                    <img src="/images/project-gallery/6.webp" alt="" class="project-gallery__card-image">
                </a>
            </li>
            <li class="project-gallery__list-item">
                <a href="#media-modal" class="project-gallery__card" data-slide-index="1">
                    <img src="/images/project-gallery/4.webp" alt="" class="project-gallery__card-image">
                </a>
            </li>
            <li class="project-gallery__list-item">
                <a href="#media-modal" class="project-gallery__card" data-slide-index="1">
                    <img src="/images/project-gallery/7.webp" alt="" class="project-gallery__card-image">
                </a>
            </li>
            <li class="project-gallery__list-item">
                <a href="#media-modal" class="project-gallery__card" data-slide-index="1">
                    <img src="/images/project-gallery/8.webp" alt="" class="project-gallery__card-image">
                </a>
            </li>
        </ul>
        <button class="project-gallery__show-more">
            <span>
                показать еще
            </span>
            <span>
                свернуть
            </span>
        </button>
    </div>

</section>