<section class="project-intro project-intro--blue">
    <div class="project-intro__content">
        <div class="project-intro__row">


            <div class="project-intro__text-content">
                <a href="#" class="project-intro__back">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#back"></use>
                    </svg>
                    Портфолио
                </a>
                <h1 class="project-intro__heading">
                    ВРЕМЯ ПЕРВЫХ
                </h1>
            </div>
            <div class="project-intro__image-wrapper">
                <img src="/images/case-intro-2.webp" alt="" class="project-intro__image">
            </div>
        </div>
    </div>
</section>