<section class="reviews">
    <div class="reviews__content">
        <div class="reviews__top-row">
            <h2 class="reviews__heading">
                о нас говорят
            </h2>
            <div class="reviews__text">
                За&nbsp;нашими плечами&nbsp;&mdash; 20&nbsp;лет взаимопонимания с&nbsp;клиентами, и&nbsp;отзывы говорят
                о&nbsp;нас лучше, чем безликие цифры
            </div>
        </div>
        <div class="reviews__slider-wrapper">
            <div class="reviews__slider-controls">


                <button class="reviews__slider-arrow reviews__slider-arrow--prev">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-arrow-left"></use>
                    </svg>
                </button>
                <div class="reviews__slider-pagination">

                </div>
                <button class="reviews__slider-arrow reviews__slider-arrow--next">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-arrow-right"></use>
                    </svg>
                </button>
            </div>
            <div class="reviews__slider-inner">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="reviews__slider-card">
                                <p class="reviews__slider-card-text">
                                    Несмотря на сжатые сроки, мероприятие было прекрасно подготовлено: интересная
                                    развлекательная программа, украшение пространства, увлекательный и веселый квиз. Мы
                                    получили огромное количество положительных отзывов от наших сотрудников
                                </p>
                                <div class="reviews__slider-card-author">
                                    <h3 class="reviews__slider-card-author-name">
                                        Андрей Чернышев
                                    </h3>
                                    <div class="reviews__slider-card-author-role">
                                        Генеральный директор ООО «Дельта Солюшенс»
                                    </div>
                                </div>
                                <div class="reviews__slider-card-link">
                                    весь отзыв
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="reviews__slider-card">
                                <p class="reviews__slider-card-text">
                                    Несмотря на сжатые сроки, мероприятие было прекрасно подготовлено: интересная
                                    развлекательная программа, украшение пространства, увлекательный и веселый квиз. Мы
                                    получили огромное количество положительных отзывов от наших сотрудников
                                </p>
                                <div class="reviews__slider-card-author">
                                    <h3 class="reviews__slider-card-author-name">
                                        Андрей Чернышев
                                    </h3>
                                    <div class="reviews__slider-card-author-role">
                                        Генеральный директор ООО «Дельта Солюшенс»
                                    </div>
                                </div>
                                <div class="reviews__slider-card-link">
                                    весь отзыв
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="reviews__slider-card">
                                <p class="reviews__slider-card-text">
                                    Несмотря на сжатые сроки, мероприятие было прекрасно подготовлено: интересная
                                    развлекательная программа, украшение пространства, увлекательный и веселый квиз. Мы
                                    получили огромное количество положительных отзывов от наших сотрудников
                                </p>
                                <div class="reviews__slider-card-author">
                                    <h3 class="reviews__slider-card-author-name">
                                        Андрей Чернышев
                                    </h3>
                                    <div class="reviews__slider-card-author-role">
                                        Генеральный директор ООО «Дельта Солюшенс»
                                    </div>
                                </div>
                                <div class="reviews__slider-card-link">
                                    весь отзыв
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="reviews__slider-card">
                                <p class="reviews__slider-card-text">
                                    Несмотря на сжатые сроки, мероприятие было прекрасно подготовлено: интересная
                                    развлекательная программа, украшение пространства, увлекательный и веселый квиз. Мы
                                    получили огромное количество положительных отзывов от наших сотрудников
                                </p>
                                <div class="reviews__slider-card-author">
                                    <h3 class="reviews__slider-card-author-name">
                                        Андрей Чернышев
                                    </h3>
                                    <div class="reviews__slider-card-author-role">
                                        Генеральный директор ООО «Дельта Солюшенс»
                                    </div>
                                </div>
                                <div class="reviews__slider-card-link">
                                    весь отзыв
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>