<section class="reviews-catalog">
    <div class="reviews-catalog__content">
        <ul class="reviews-catalog__list">
            <li class="reviews-catalog__list-item reviews-catalog__list-item--wide">
                <div class="reviews-catalog__card reviews-catalog__card--large">
                    <div class="reviews-catalog__card-content">
                        <img src="/images/reviews/delta.webp" alt="" class="reviews-catalog__card-logo">
                        <div class="reviews-catalog__card-text">
                            Несмотря на сжатые сроки, мероприятие было прекрасно подготовлено: интересная
                            развлекательная программа, украшение пространства, увлекательный и веселый квиз. Мы получили
                            огромное количество положительных отзывов от наших сотрудников
                        </div>
                        <div class="reviews-catalog__card-author">
                            <div class="reviews-catalog__card-author-name">
                                Андрей Чернышев
                            </div>
                            <div class="reviews-catalog__card-author-role">
                                Генеральный директор ООО «Дельта Солюшенс»
                            </div>
                        </div>
                        <a href="#" class="reviews-catalog__card-btn">
                            весь отзыв
                        </a>
                    </div>
                    <div class="reviews-catalog__card-image-wrapper">
                        <div class="reviews-catalog__card-image-decor"></div>
                        <a href="#" class="reviews-catalog__card-image-wrapper-inner">
                            <img src="/images/reviews-photos/1.webp" alt="" class="reviews-catalog__card-image">
                            <div class="reviews-catalog__card-label">
                                смотреть отчет
                            </div>
                        </a>
                    </div>
                </div>
            </li>
            <li class="reviews-catalog__list-item">
                <div class="reviews-catalog__card">
                    <div class="reviews-catalog__card-content">
                        <img src="/images/reviews/tele2.webp" alt="" class="reviews-catalog__card-logo">
                        <div class="reviews-catalog__card-text">
                            программа, украшение пространства, увлекательный и веселый квиз. Мы получили огромное
                            количество положительных отзывов от наших сотрудников
                        </div>
                        <div class="reviews-catalog__card-author">
                            <div class="reviews-catalog__card-author-name">
                                Нина Чеглакова
                            </div>
                            <div class="reviews-catalog__card-author-role">
                                Ведущий специалист по социальному развитию ППО «СИБУР»
                            </div>
                        </div>
                        <a href="#" class="reviews-catalog__card-btn">
                            весь отзыв
                        </a>
                    </div>
                </div>
            </li>
            <li class="reviews-catalog__list-item">
                <div class="reviews-catalog__card">
                    <div class="reviews-catalog__card-content">
                        <img src="/images/reviews/acros.webp" alt="" class="reviews-catalog__card-logo">
                        <div class="reviews-catalog__card-text">
                            Высокий уровень и качество услуг, креативный подход при подготовке и учет всех пожеланий. В
                            результате мероприятие проведено на высшем уровне!
                        </div>
                        <div class="reviews-catalog__card-author">
                            <div class="reviews-catalog__card-author-name">
                                Алякритская И.Н.
                            </div>
                            <div class="reviews-catalog__card-author-role">
                                Руководитель службы маркетинга ООО «Акрос»
                            </div>
                        </div>
                        <a href="#" class="reviews-catalog__card-btn">
                            весь отзыв
                        </a>
                    </div>
                </div>
            </li>
            <li class="reviews-catalog__list-item reviews-catalog__list-item--wide">
                <div class="reviews-catalog__card reviews-catalog__card--large">
                    <div class="reviews-catalog__card-content">
                        <img src="/images/reviews/sibur.webp" alt="" class="reviews-catalog__card-logo">
                        <div class="reviews-catalog__card-text">
                            интересная развлекательная программа, украшение пространства, увлекательный и веселый квиз.
                            Мы получили огромное количество положительных отзывов от наших сотрудников
                        </div>
                        <div class="reviews-catalog__card-author">
                            <div class="reviews-catalog__card-author-name">
                                Андрей Чернышев
                            </div>
                            <div class="reviews-catalog__card-author-role">
                                Генеральный директор ООО «Дельта Солюшенс»
                            </div>
                        </div>
                        <a href="#" class="reviews-catalog__card-btn">
                            весь отзыв
                        </a>
                    </div>
                    <div class="reviews-catalog__card-image-wrapper">
                        <div class="reviews-catalog__card-image-decor reviews-catalog__card-image-decor--violet"></div>
                        <a href="#" class="reviews-catalog__card-image-wrapper-inner">
                            <img src="/images/reviews-photos/2.webp" alt="" class="reviews-catalog__card-image">
                            <div class="reviews-catalog__card-label">
                                смотреть отчет
                            </div>
                        </a>
                    </div>
                </div>
            </li>
            <li class="reviews-catalog__list-item">
                <div class="reviews-catalog__card">
                    <div class="reviews-catalog__card-content">
                        <img src="/images/reviews/tele2.webp" alt="" class="reviews-catalog__card-logo">
                        <div class="reviews-catalog__card-text">
                            программа, украшение пространства, увлекательный и веселый квиз. Мы получили огромное
                            количество положительных отзывов от наших сотрудников
                        </div>
                        <div class="reviews-catalog__card-author">
                            <div class="reviews-catalog__card-author-name">
                                Нина Чеглакова
                            </div>
                            <div class="reviews-catalog__card-author-role">
                                Ведущий специалист по социальному развитию ППО «СИБУР»
                            </div>
                        </div>
                        <a href="#" class="reviews-catalog__card-btn">
                            весь отзыв
                        </a>
                    </div>
                </div>
            </li>
            <li class="reviews-catalog__list-item">
                <div class="reviews-catalog__card">
                    <div class="reviews-catalog__card-content">
                        <img src="/images/reviews/psb.webp" alt="" class="reviews-catalog__card-logo">
                        <div class="reviews-catalog__card-text">
                            Всем понравилось! Это было огонь! Вспоминаем каждый день праздник, смеемся, улыбаемся
                        </div>
                        <div class="reviews-catalog__card-author">
                            <div class="reviews-catalog__card-author-name">
                                Алякритская И.Н.
                            </div>
                            <div class="reviews-catalog__card-author-role">
                                Руководитель службы маркетинга ООО «Акрос»
                            </div>
                        </div>
                        <a href="#" class="reviews-catalog__card-btn">
                            весь отзыв
                        </a>
                    </div>
                </div>
            </li>
            <li class="reviews-catalog__list-item reviews-catalog__list-item--wide">
                <div class="reviews-catalog__card reviews-catalog__card--large">
                    <div class="reviews-catalog__card-content">
                        <img src="/images/reviews/sibur.webp" alt="" class="reviews-catalog__card-logo">
                        <div class="reviews-catalog__card-text">
                            интересная развлекательная программа, украшение пространства, увлекательный и веселый квиз.
                            Мы получили огромное количество положительных отзывов от наших сотрудников
                        </div>
                        <div class="reviews-catalog__card-author">
                            <div class="reviews-catalog__card-author-name">
                                Андрей Чернышев
                            </div>
                            <div class="reviews-catalog__card-author-role">
                                Генеральный директор ООО «Дельта Солюшенс»
                            </div>
                        </div>
                        <a href="#" class="reviews-catalog__card-btn">
                            весь отзыв
                        </a>
                    </div>
                    <div class="reviews-catalog__card-image-wrapper">
                        <div class="reviews-catalog__card-image-decor reviews-catalog__card-image-decor--blue"></div>
                        <a href="#" class="reviews-catalog__card-image-wrapper-inner">
                            <img src="/images/reviews-photos/3.webp" alt="" class="reviews-catalog__card-image">
                            <div class="reviews-catalog__card-label">
                                смотреть отчет
                            </div>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
        <a href="#" class="reviews-catalog__show-more">
            показать еще
        </a>
    </div>
</section>