<section class="risks">
    <div class="risks__content">
        <div class="risks__text-text-wrapper">
            <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
                vector-effect="non-scaling-stroke">
                <circle r="45" cx="50" cy="50" fill="none" stroke="#C77DF6" stroke-width="3"
                    vector-effect="non-scaling-stroke" />
            </svg>
            <div class="risks__text">
                Берем все риски<br> на&nbsp;себя и&nbsp;контролируем весь процесс!
            </div>
        </div>
    </div>
</section>