<div class="steps">
    <ol class="steps__list">
        <li class="steps__list-item">
            <div class="steps__card">
                <img src="/images/steps/1.svg" alt="" class="steps__card-icon">
                <div class="steps__card-content">
                    <h3 class="steps__card-title">
                        Знакомство
                    </h3>
                    <div class="steps__card-text">
                        Главный результат данного этапа: подробное техническое задание, полностью соответствующее вашим
                        целям. Мы готовим коммерческое предложение под конкретный запрос, а не предлагаем пакетные
                        услуги.
                    </div>
                </div>
            </div>
        </li>
        <li class="steps__list-item">
            <div class="steps__card">
                <img src="/images/steps/2.svg" alt="" class="steps__card-icon">
                <div class="steps__card-content">
                    <h3 class="steps__card-title">
                        Подготовка коммерческого предложения
                    </h3>
                    <div class="steps__card-text">
                        За одну неделю мы ответим на все вопросы, включая варианты площадок, концепцию и формат
                        мероприятия, предварительное понимание наполнения программы, декор и брендирование,
                        детализированная смета.
                    </div>
                </div>
            </div>
        </li>
        <li class="steps__list-item">
            <div class="steps__card">
                <img src="/images/steps/3.svg" alt="" class="steps__card-icon">
                <div class="steps__card-content">
                    <h3 class="steps__card-title">
                        Презентация предложения
                    </h3>
                    <div class="steps__card-text">
                        Приезжаем на встречу и рассказываем свое видение. Почему это важно? 90% вопросов по предложению
                        будут решены сразу, затратив минимум вашего времени.
                    </div>
                </div>
            </div>
        </li>
        <li class="steps__list-item">
            <div class="steps__card">
                <img src="/images/steps/4.svg" alt="" class="steps__card-icon">
                <div class="steps__card-content">
                    <h3 class="steps__card-title">
                        Уточнения
                    </h3>
                    <div class="steps__card-text">
                        Возможно, на данном этапе вы захотите съездить на предложенные площадки или вам будет необходим
                        ряд уточнений по кандидатурам ведущих, вопросы по смете. Результат — у вас нет сомнений. Вы
                        понимаете фронт работ и концепцию мероприятия.
                    </div>
                </div>
            </div>
        </li>
        <li class="steps__list-item">
            <div class="steps__card">
                <img src="/images/steps/5.svg" alt="" class="steps__card-icon">
                <div class="steps__card-content">
                    <h3 class="steps__card-title">
                        Договор
                    </h3>
                    <div class="steps__card-text">
                        Подготовка и оформление документов.
                    </div>
                </div>
            </div>
        </li>
        <li class="steps__list-item">
            <div class="steps__card">
                <img src="/images/steps/6.svg" alt="" class="steps__card-icon">
                <div class="steps__card-content">
                    <h3 class="steps__card-title">
                        Подготовка мероприятия
                    </h3>
                    <div class="steps__card-text">
                        Вы — утверждаете текущее ТЗ, предоставленные нами планы площадки, меню, дизайн, кандидатуры
                        приглашенных артистов и т.д. Мы — выполняем всю работу над проектом.
                    </div>
                </div>
            </div>
        </li>
        <li class="steps__list-item">
            <div class="steps__card">
                <img src="/images/steps/7.svg" alt="" class="steps__card-icon">
                <div class="steps__card-content">
                    <h3 class="steps__card-title">
                        Мероприятие 
                    </h3>
                    <div class="steps__card-text">
                        Мы — работаем, вы — отдыхаете :-)
                    </div>
                </div>
            </div>
        </li>
        <li class="steps__list-item">
            <div class="steps__card">
                <img src="/images/steps/8.svg" alt="" class="steps__card-icon">
                <div class="steps__card-content">
                    <h3 class="steps__card-title">
                        Подведение итогов
                    </h3>
                    <div class="steps__card-text">
                        Если аудитория мероприятия позволяет, мы предлагаем вам простую форму опроса для обратной связи.
                        Обсуждаем и анализируем итоги, ищем инсайты для использования в будущих проектах.
                    </div>
                </div>
            </div>
        </li>
        <li class="steps__list-item">
            <div class="steps__card">
                <img src="/images/steps/9.svg" alt="" class="steps__card-icon">
                <div class="steps__card-content">
                    <h3 class="steps__card-title">
                        Сдача видео- и фото-отчетов
                    </h3>
                    <div class="steps__card-text">
                        Мы отдаём вам отчеты. Вы подписываете акт выполненных работ!
                    </div>
                </div>
            </div>
        </li>
    </ol>
</div>