<section class="event-intro event-intro--subevent event-intro--violet">
  <div class="event-intro__content">
    <div class="event-intro__row">
      <div class="event-intro__text-content">
        <div class="event-intro__breadcrumbs event-intro__breadcrumbs--white">
          <a href="#" class="event-intro__breadcrumbs-link">
            <svg width="14" height="14" aria-hidden="true">
              <use xlink:href="#back"></use>
            </svg>
            <span class="event-intro__breadcrumbs-link-text">
              Что мы делаем
            </span>
          </a>
          <a href="#" class="event-intro__breadcrumbs-link">
            <svg width="14" height="14" aria-hidden="true">
              <use xlink:href="#back"></use>
            </svg>
            <span class="event-intro__breadcrumbs-link-text">
              Организация командных мероприятий
            </span>
          </a>
        </div>
        <h1 class="event-intro__heading">Регата</h1>
      </div>

    </div>
  </div>
</section>