<section class="article-text">
    <div class="article-text__content">
        <div class="article-text__inner">
            <p>
                Мы организуем мероприятия для клиентов и партнеров, презентации, выставки, корпоративные конференции и
                форумы, выездные мероприятия, открытия и запуски. Мы можем сделать так, чтобы ваше бизнес-мероприятие
                стало настоящим событием, которого ждут с нетерпением. 
            </p>
            <p>
                Прежде всего мы определимся с форматом: будет ли это дилерская конференция или клиентский день,
                продающая конференция для клиентов или выездное собрание акционеров, оффлайн, онлайн или гибридное
                мероприятие? Мы найдем актуальный для вашего бизнеса визуальный язык и интонацию, разработаем концепцию,
                пригласим гостей, спикеров или селебрити. Возьмем на себя все организационные вопросы по программе,
                логистике и техническому оснащению.
            </p>

        </div>
        {{> other-formats}}
    </div>
</section>