<section class="tender">
    <div class="tender__content">
        <h2 class="tender__heading">
            Love me tender
        </h2>
        <div class="tender__text">
            Пригласите нас в тендер — напишите письмо или заполните краткий бриф
        </div>
        <div class="tender__btns">
            <a href="mailto:hello@olivie.ru" class="tender__blue-btn">
                Hello@olivie.ru
            </a>
            <a href="#" class="tender__outline-btn">
                заполнить бриф
            </a>
        </div>
    </div>
</section>