<section class="what-we-do">
    <div class="what-we-do__content">
        <h2 class="what-we-do__heading">
            Что мы делаем
        </h2>
        <ul class="what-we-do__list">
            <li class="what-we-do__list-item">
                <div class="what-we-do__card">
                    <img src="/images/orange-star.svg" alt="" class="what-we-do__card-icon">
                    <h3 class="what-we-do__card-title">
                        Помогаем
                    </h3>
                    <div class="what-we-do__card-text">
                        вам выстроить отношения
                        с клиентами показатели бизнеса с помощью ивент-инструментов
                    </div>
                </div>
            </li>
            <li class="what-we-do__list-item">
                <div class="what-we-do__card">

                    <img src="/images/orange-star.svg" alt="" class="what-we-do__card-icon">
                    <h3 class="what-we-do__card-title">
                        Улучшаем
                    </h3>
                    <div class="what-we-do__card-text">
                        мероприятия в России и за рубежом
                    </div>
                </div>
            </li>
            <li class="what-we-do__list-item">
                <div class="what-we-do__card">
                    <img src="/images/orange-star.svg" alt="" class="what-we-do__card-icon">
                    <h3 class="what-we-do__card-title">
                        Укрепляем бренд
                    </h3>
                    <div class="what-we-do__card-text">
                        показатели бизнеса с помощью ивент-инструментов мероприятия в России и за рубежом
                    </div>
                </div>
            </li>
            <li class="what-we-do__list-item">
                <div class="what-we-do__card">
                    <img src="/images/orange-star.svg" alt="" class="what-we-do__card-icon">
                    <h3 class="what-we-do__card-title">
                        Умеем организовывать
                    </h3>
                    <div class="what-we-do__card-text">
                        вам выстроить отношения
                        с клиентами показатели бизнеса
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>