<section class="why-us">
    <div class="why-us__content">
        <h2 class="why-us__heading">
            Почему нас нужно выбрать?
        </h2>
        <ul class="why-us__list">
            <li class="why-us__list-item">
                <div class="why-us__card">
                    <h3 class="why-us__card-title">
                        Опыт
                    </h3>
                    <div class="why-us__card-text">
                        Мы делаем мероприятия с 2005 года и за это время сделали много масштабных и камерный проектов
                        разными форматами и географией.
                    </div>
                </div>
            </li>
            <li class="why-us__list-item">
                <div class="why-us__card">
                    <h3 class="why-us__card-title">
                        Команда
                    </h3>
                    <div class="why-us__card-text">
                        В нашей команде работают классные специалисты в сфере ивентов. Это профессионалы с большим
                        опытом создания мероприятий, пониманием логики и методик работы. Ежедневно мы растем,
                        развиваемся и вместе приобретаем новые знания и умения.
                    </div>
                </div>
            </li>
            <li class="why-us__list-item">
                <div class="why-us__card">
                    <h3 class="why-us__card-title">
                        Креатив
                    </h3>
                    <div class="why-us__card-text">
                        У нас нет шаблонных решений, мы используем только индивидуальный подход и любим качественную
                        работу с подключением воображения.
                    </div>
                </div>
            </li>
            <li class="why-us__list-item">
                <div class="why-us__card">
                    <h3 class="why-us__card-title">
                        Надежность
                    </h3>
                    <div class="why-us__card-text">
                        Все проекты разные, но делаем мы их неизменно методично. Все самое важно случается вначале, а
                        начало нового проекта — это план-график работ, который показывает сроки, этапы, нужные ресурсы.
                        Сверяем все «движения» по проекту с вами в комфортном для вас режиме.
                    </div>
                </div>
            </li>
        </ul>
        <div class="why-us__btns">
            <a href="mailto:hello@olivie.ru" class="why-us__blue-btn">
                Hello@olivie.ru
            </a>
            <a href="#brief-modal" class="why-us__outline-btn">
                заполнить бриф
            </a>
        </div>
    </div>
</section>